{% extends 'base.html.twig' %}

{% block title %}Entreprises{% endblock %}


{% block contenu %}

{% for entreprise in entreprises %}

<h1><a href="{{path("pro_stage_entreprises")}}/{{entreprise.getId()}}">{{ entreprise.getNom() }}</a></h1>

{% endfor %}

{% endblock %}
