{% extends 'base.html.twig' %}

{% block title %}Formations{% endblock %}


{% block contenu %}

{% for formation in formations %}

<h1><a href="{{path("pro_stage_formations")}}/{{formation.getId()}}">{{ formation.getNomCourt() }}</a></h1>

{% endfor %}

{{ if (identifiant)}}
<h1>yeet</h1>

{% endblock %}
