{% extends 'base.html.twig' %}

{#Affichage de tout les stages#}

{% block contenu %}
            {% for stage in stages %}
                <h1><a href="{{path("description_stage",{"id":stage.id})}}">{{ stage.titre }}</a></h1>
                <h1>-------------------------------------</h1>
            {% endfor %}
{% endblock %}
