<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ProStages{% endblock %}</title>

        {% block stylesheets %}
        {% endblock %}

    </head>

    {#Navigateur#}

    <header>
        <h3><a>Filtrer par :</a></h3>
		<h3><a href="{{path("pro_stage_formations")}}">Formation</a></h3>
		<h3><a href="{{path("pro_stage_entreprises")}}">Entreprise</a></h3>

		<h1 align="center"><a href="{{path("pro_stage_acceuil")}}">ProStages</a></h1>

	</header>
    
    <body>
        {% block contenu %}
        {% endblock %}
    </body>
</html>